### 4. `requirements.txt`

Since these scripts don't require external packages, this file can be empty or include a common package for demonstration.

I am adding this sentence to requirements.txt. I will upload now to my github.  